
[submodule "heartrate-prediction-project"]
	path = heartrate-prediction-project
	url = https://github.com/erinengle76/D200-Final-Project
[submodule "code-examples/fabric"]
	path = code-examples/fabric
	url = https://github.com/elliswmartin/fabric.git
